<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<bean id="email" class="edu.kosta.EmailMessageServiceImpl" />
	<bean id="twitter"  class="edu.kosta.TwitterMessageServiceImpl" />
	
	<!-- constructor 이용한 설정 -->
	<bean id="myApplication"  class="edu.kosta.MyApplication">
		<constructor-arg  ref="email" />
	</bean>
	
	<!-- setter method -->
	<bean id="myApplication2"  class="edu.kosta.MyApplication">
		<property name="service"  ref="twitter" />
	</bean>

</beans>
